<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Css lokal-->
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Admin Panel</title>
</head>

  
<body>
    <h1 class="mx-4">
    Welcome to Admin Panel
    </h1>
    <form action="/user_game" method="POST">
      <div class="container">
        <h3>Create New User</h3>
        <div>username</div>
        <input type="text" name="username"></input>
        <div>password</div>
        <input type="password" name="password"></input>
        <br> <br>
        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
      </div>

      

    
      <div class="container">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(i => { %>
        <tr>
          <th scope="row"><%= i.user_id %></th>
          <td><%= i.username %></td>
          <td><%= i.password %></td>
          <td><input class="btn btn-primary" formaction="/user_game/edit?id=<%= i.user_id %>" type="submit" value="Edit"></input></td>
          <td><input class="btn btn-danger" formaction="/user_game/delete?id=<%= i.user_id %>" type="submit" value="Delete"></input></td>
        </tr>
        <% });%>
      </tbody>
    </table>
  </div>
</body>
</form>
