<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Css lokal-->
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Login Page</title>
  </head>

  <body>
        <form action="/user_game?method=put" method="POST">
            <div class="container">
                <h3>Edit Data user Game</h3>
                <div>ID</div>
                    <input type="text" name="user_id" value="<%= dataToEdit.user_id %>" readonly></input>
                <div>Username</div>
                    <input type="text" name="username" value="<%= dataToEdit.username %>"></input>
                <div>Password</div>
                    <input type="password" name="password" value="<%= dataToEdit.password %>"></input>
                <br>
                    <input formaction="/user_game?method=PUT" class="btn btn-primary" type="submit" Value="Edit"></input>
                </div>
        </form>


  </body>