<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!-- Css lokal-->
  <link href="/styles/styles.css" rel="stylesheet" />
  <title>Login Page</title>
</head>

<body>
  <div class="container">
  <h1>Admin login</h1>
  <% if(loginFailed==true){%>
    <div style="color:red">User Not found</div>
  <% };%>
</div>
<form id="form-login" action="/login" method="POST">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <br>
      <input id="input-login" type="text" placeholder="Enter Username" name="username" required>
      <br>
      <label for="password"><b>Password</b></label>
      <br>
      <input id="input-login" type="password" placeholder="Enter Password" name="password" required>
      <br>
      <button id="button-login" type="submit">Login</button>
    </div>
  </form> 

</body>