 /* Bordered form */
#form-login {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
#input-login {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
#button-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
 
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  